
	body {
    margin: 40px;
    background-color: #fff;
  }

  .header {
    display: flex;
    grid-area: header;
  }

  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "content"
      "footer";

    grid-template-columns: repeat (auto-fill, minmax(250px, 1fr));
    background-color: #fff;
    color: #444;
    width: 100%;
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 50px;
    font-size: 150%;
  }

  .header,
  .footer {
    display: flex;
    background-color: #999;
  }

  .main_content {
display: flex;
width: 50%;
color: #29aae3;
background-color: #f1f1f1;
  }

  .sidebar_content {
    display: flex;
width: 25%;
color: #fff;
    background-color:#56727c;
  }

  .content {
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
