/*Main content CSS codes starts here */
	
.content {

    display: flex;
   flex-wrap: wrap;
    background-color: #56727C;
    padding-left: 3%;
    padding-right: 3%;
  justify-content: space-between;
}

.content > div {
  
  padding-top: 10%;  
  background-color: #f1f1f1;
    width: 40%;
    margin-top: 7px;
    text-align: center;
    font-size: 30px;
    align-items: center;
    width: 400px;
    height: 300px;
  font-size: 20px;
  color: #29AAE3;
 

}

/* Main content CSS codes end here*/
