/*Main content CSS codes starts here */
	
.content {

    display: flex;
   flex-wrap: wrap;
    background-color: #56727C;
    padding-left: 3%;
    padding-right: 3%;
  justify-content: space-between;
}

.content > div {
    background-color: #f1f1f1;
    width: 40%;
    margin: 7px;
    text-align: center;
    font-size: 30px;
    align-items: center;
    height: 200px;
    width: 400px;
    font-size: 20px;
    color: #56727C;
    padding-top: 5%;

}

/* Main content CSS codes end here*/
