/*Main content CSS codes starts here */

.content {
  display: flex;
  flex-wrap: wrap;
  background-color: #56727c;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 3%;
  justify-content: space-evenly;
}

.content > div {
  padding-top: 10%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #f1f1f1;
  width: 40%;
  margin-top: 7px;
  text-align: center;
  font-size: 30px;
  align-items: center;
  width: 350px;
  height: 250px;
  font-size: 20px;
  color: #29aae3;
}

/*Main content CSS codes starts here */

.content-post {
  display: flex;
  flex-wrap: wrap;
  background-color: #56727c;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 3%;
  justify-content: space-evenly;
  height: 100%;
}

.content-post > div {
  padding-top: 10%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #f1f1f1;
  width: 99%;
  margin-top: 7px;
  text-align: center;
  font-size: 30px;
  align-items: center;
  height: 100%;
  font-size: 20px;
  color: #29aae3;
}

.responsive {
  max-width: 100%;
  width: auto;
  height: auto;
}

.animal {
  text-decoration: underline;
}

.kingdom:hover {
  text-transform: uppercase;
}

.phylum:hover {
  background-color: yellow;
}

.font-size {
  font-size: 10vw;
}

.author_image {
  border-radius: 50%;
}

.author {
  text-align: right;
}

/* Main content CSS codes end here*/
