/* Header banner CSS codes start here */

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

.siteHeader {
  display: flex;

  justify-content: space-between;
  padding: 10px;
  background-color: #56727c;
}

.siteHeader__section {
  display: flex;
  align-items: center;
}

.siteHeader__item {
  padding: 5px 15px;
  font-size: 12px;
}

.siteHeader__item + .siteHeader__item {
  margin-left: 5px;
}

.siteHeader__item.is-site-header-item-selected {
  color: #ffffff;
  background-color: #415f69;
  border-radius: 4px;
}

.siteHeaderLogo {
  font-size: 20px;
  line-height: 0;
  color: white;
}

.siteHeaderButton {
  cursor: pointer;
  color: #d9e9ef;
}

/* Header banner CSS codes end here */
